html {
  background: var(--color-light);
  color: var(--color-dark);
}

body {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.25;
}

blockquote {
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: var(--color-dark);
}

pre {
  padding: 0.5rem 1rem;
  overflow-x: scroll;
}

code {
  font-family: ui-monospace, 'IBM Plex Mono', 'Fira Mono', 'Source Code Pro', Menlo, Monaco, monospace;
  font-size: 0.85em;
}

hr {
  border-block-start: 1px solid var(--color-dark);
  margin-block: 1.5rem;
}

/* <dl>, <dt>, and <dd> elements don't have markdown syntax;
 * therefore their styles are defined here rather than markdown-class-mappings.mjs
 */
dl {
  margin-block: var(--space-4);
  padding-inline-start: var(--space-4);
}

dt {
  font-weight: 400;
  font-style: italic;
}

dd {
  margin-block-end: 1.5em;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.075em;
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  html {
    background: var(--color-dark);
    color: var(--color-light);
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  blockquote {
    border-color: var(--color-light);
  }

  hr {
    border-color: var(--color-light);
  }
}

